<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
  <script type="text/javascript" src="/js/editDetailprogramm.js"></script>

</head>

<body>

  <%- include('./partials/nav'); %>

  <form id="dpForm" action="<% if(detailprogramm) { %>/detailprogramme/edit?detailprogrammId=<%= detailprogramm.detailprogrammId %><% } else { %>/detailprogramme/create<% } %> " method="POST" target="frame">
    <label for="date">Datum</label>
    <input type="date" name="date" required value="<% if(detailprogramm.date) { %><%= detailprogramm.date %><% } %>">
    <label for="startTime">Startzeit</label>
    <input type="time" name="starttime" required value="<% if(detailprogramm.starttime) { %><%= detailprogramm.starttime %><% } %>">
    <label for="endTime">Endzeit</label>
    <input type="time" name="endtime" required value="<% if(detailprogramm.endtime) { %><%= detailprogramm.endtime %><% } %>">>
    <label for="location">Ort</label>
    <input type="text" name="location" value="<% if(detailprogramm.location) { %><%= detailprogramm.location %><% } %>">
    <label for="responsible">Verantwortlich</label>
    <input type="text" name="responsible" required value="<% if(detailprogramm.responsible) { %><%= detailprogramm.responsible %><% } %>">
    <label for="ablauf">Ablauf</label>
    <% if(typeof detailprogramm.ablauf != "undefined") { 
      for(i=1; i<detailprogramm.ablauf.length +1; i++) { %>
    <input type="text" name="ablauf" onchange="addAblaufPunkt(<%= i %>)" id="<%= i %>" value="<%= detailprogramm.ablauf[i-1] %>">
    <% }} else { %>
    <input type="text" name="ablauf" onchange="addAblaufPunkt(1)" id="1">
    <% } %>
    <label for="ablauf">Zeit</label>
    <% if(typeof detailprogramm.zeit != "undefined") {
    for(i=0; i<detailprogramm.zeit.length; i++) { %>
    <input type="text" name="zeit" id="<%= i+9990 %>">
    <% }} else { %>
    <input type="text" name="zeit" id="9990">
    <% } %>
    <label for="material">Material</label>
    <input type="text" name="material" value="<% if(detailprogramm.material) { %><%= detailprogramm.material %><% } %>">
    <button class=" border-2 rounded-full py-2 px-4 " type="submit" id="save" onclick="confirmSave()">Speichern</button>
  </form>
</body>
<footer>
  <iframe name="frame" style="display:none;"></iframe>
</footer>

</html>