<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>
  <script type="text/javascript" src="/js/dynamicForm.js"></script>

</head>

<body>

  <%- include('./partials/nav'); %>

  <form id="dpForm" action="<% if(detailprogramm) { %>/detailprogramme/edit?detailprogrammId=<%= detailprogramm.detailprogrammId %><% } else { %>/detailprogramme/create<% } %> " method="POST" target="frame">
    <label for="date">Datum</label>
    <input type="date" name="date" required value="<% if(detailprogramm.date) { %><%= detailprogramm.date %><% } %>">
    <label for="startTime">Startzeit</label>
    <input type="time" name="starttime" required value="<% if(detailprogramm.starttime) { %><%= detailprogramm.starttime %><% } %>">
    <label for="endTime">Endzeit</label>
    <input type="time" name="endtime" required value="<% if(detailprogramm.endtime) { %><%= detailprogramm.endtime %><% } %>">>
    <label for="location">Ort</label>
    <input type="text" name="location" value="<% if(detailprogramm.location) { %><%= detailprogramm.location %><% } %>">
    <label for="responsible">Verantwortlich</label>
    <input type="text" name="responsible" required value="<% if(detailprogramm.responsible) { %><%= detailprogramm.responsible %><% } %>">
    <button class=" border-2 rounded-full py-2 px-4 " type="button" onclick="addElement(['zeit', 'ablauf'])">+</button>
    <label for="ablauf" id="input">Ablauf
      <% if(typeof detailprogramm.ablauf != "undefined" || typeof detailprogramm.zeit != "undefined") { 
      for(i=0; i<detailprogramm.ablauf.length; i++) { %>
      <div>
        <input type="text" name="zeit" value="<%= detailprogramm.zeit[i] %>" placeholder="Zeit">
        <input type="text" name="ablauf" value="<%= detailprogramm.ablauf[i] %>" placeholder="Ablauf">
        <button class=" removeButton border-2 rounded-full py-2 px-4 " type="button">-</button>
      </div>
      <% }} %>
    </label>
    <label for="material">Material</label>
    <input type="text" name="material" value="<% if(detailprogramm.material) { %><%= detailprogramm.material %><% } %>">
    <button class=" border-2 rounded-full py-2 px-4 " type="submit" id="save" onclick="confirmSave()">Speichern</button>
  </form>
</body>
<footer>
  <%- include('./partials/footer'); %>
</footer>

</html>