<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head'); %>

</head>

<body>

  <%- include('./partials/nav'); %>

  <div>
    <button>
      <a href="/detailprogramme/edit">Neues DP</a>
    </button>
  </div>

  <ul>
    <% for(let i = 0; i < detailprogramme.length; i++) { %>
    <li>
      <span><%= detailprogramme[i].date %></span>
      <span><%= detailprogramme[i].starttime %></span>
      <span><%= detailprogramme[i].endtime %></span>
      <span><%= detailprogramme[i].responsible %></span>
      <button>
        <a href="/detailprogramme/edit?id=<%= detailprogramme[i].id %>">Bearbeiten</a>
      </button>
    </li>
    <% } %>
  </ul>

</body>

</html>